html{
    font-size: 22px;
    font-family: cursive; /* this changes the font family*/
    background-color: #333;
}


h1{
    
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: rgb(70, 88, 70);
    text-shadow: 3px 3px 12px black;
}

p,
li{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}

a:hover{
    color: beige;
}
a:visited{
    color: aquamarine;
}

#contact-davegar{
    border: 5px outset rgb(53, 15, 15);
    background-color: rgb(80, 109, 99);
    text-align: center;
}

#davegar-bio{
    display: flex;
}