*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}
body{
    background-color: #1b4958;
    background: linear-gradient(to right,#1b4958, #2d2d0d);
}

.main-container{
    background-color: rgb(28, 117, 62);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h1,h3{
    text-align: center;
}

.showcase{
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px, 20px, 10px,20px;
}

img{
    width: 70%;
}

.links{
    background-color: rgb(28, 117, 62);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
}