*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
body{
    background-color: olivedrab;
    background: linear-gradient(to right,olivedrab, beige);
}

.main-container{
    background-color: rgb(185, 185, 10);
    padding: 10px;
    border-radius: 10px;
}


.links{
    background-color: rgb(185, 185, 10);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
}